<div class="wrapper">
      <div class="top1" *ngIf="pageNum==1">
        <ul class="list-group list-group-flush" *ngFor="let item of carrello | async; let i = index">
          <li class="list-group-item">
            <div class="list-grid">
              <div class="imgblend div-left" [style.background-color]="item.itemColor"
               [style.background-image]="'url(../../assets/'+item.itemType+'.png'">
              </div>
              <div class="div-center">
                <p>Articolo: {{ item.itemType }}</p>
                <p>Colore: <span class="colors"  [style.background-color]="item.itemColor">{{ item.itemColor }}</span></p>
                <p>Testo personalizzato: {{ item.itemText }}</p>
                <p>Colore testo: <span class="colors" [style.background-color]="item.textColor">{{ item.textColor }}</span></p>
                <p>Prezzo: {{ item.itemPrice }}</p>
                <button class="btn-elimina" (click)="deleteItem(i)">RIMUOVI</button>
              </div>
            </div>
          <hr>
          </li>
        </ul>
      </div>

      <div class="top2" *ngIf="pageNum==2">
        <div class="input-container" *ngFor="let user of userData | async">
          <div>
            <label for="">Nome</label><br>
            <input type="text" [value]="user.nome" class="input-utente"><br>
          </div>
          <div>
            <label for="">Cognome</label><br>
            <input type="text" [value]="user.cognome" class="input-utente"><br>
          </div>
          <div>
            <label for="">Cellulare</label><br>
            <input type="text" [value]="user.cellulare" class="input-utente"><br>
          </div>
          <div>
            <label for="">Citta'</label><br>
            <input type="text" [value]="user.citta" class="input-utente"><br>
          </div>
          <div>
            <label for="">CAP</label><br>
            <input type="text" [value]="user.cap" class="input-utente"><br>
          </div>
          <div>
            <label for="">Indirizzo</label><br>
            <input type="text" [value]="user.indirizzo" class="input-utente"><br>
          </div>
        </div>
      </div>

      <div class="top3" *ngIf="pageNum==3">
        <ul class="list-group list-group-flush" *ngFor="let item of carrello | async; let i = index, let user of userData | async ">
          <li class="list-group-item">
            
              <div class="div-center" >
                <div>
                <p>Prodotti acquistati: <span class="counter" *ngIf="(carrello | async) as items">{{ items.length }}</span></p>
                <p>Prezzo: </p>
                <p>Spedizione:<b> 3€</b></p>
                <p>Indirizzo:<b> {{ user.indirizzo }}</b></p>
                <p>Spedito al sig.: <b>{{ user.nome }} {{ user.cognome }}</b></p>
              </div>
                <hr><br>
                <div>
                <label for="paymentType">Scegli metodo di pagamento:</label>

                <select name="paymentType" id="paymentType" class="input-select">
                  <option value="CreditCard">Carta di credito</option>
                  <option value="PrepaidCard">Carta prepagata</option>
              
                </select><br>
                <label for="cards">Tipo carta:</label>

                <select name="cards" id="cards" class="input-select">
                  <option value="visa">Visa</option>
                  <option value="mastercard">Mastercard</option>
              
                </select>
          
              </div>
              <br>
              <div>
                <div>
                  <label for="ncarta">Numero carta</label>
                  <input type="text" [value]="" class="input-select" style="width: 60%;" >
                  <label for="cvv">CVV/CCv</label>
                  <input type="text" [value]="" class="input-select" style="width: 10%;" >
                </div>
              </div>
                
              
            </div>
        
          </li>
        </ul>
      </div>
      <div class="bottom">
        <div>
          <button class=" btn-step btn-back" [disabled]="pageNum==1" (click)="choosePage(pageNum-1)"><span class="arrow left"></span>INDIETRO</button>
        </div>
        <div class="page1" [class.active]="pageNum==1" (click)="choosePage(1)"></div>
        <div class="page2" [class.active]="pageNum==2" (click)="choosePage(2)"></div>
        <div class="page3" [class.active]="pageNum==3" (click)="choosePage(3)"></div>
        <div>
          <button class="btn-step btn-forward" *ngIf="pageNum!==3" (click)="choosePage(pageNum+1)">PROSEGUI<span class="arrow right"></span></button>
          <button class="btn-step btn-checkout" *ngIf="pageNum==3">CHECKOUT</button>
        </div>
      </div>
</div>

