<div class="wrapper">
  <div class="jumbotron jumbotron-fluid margin0">
      <ul class="list-group list-group-flush" *ngFor="let n of items | async">
        <li class="list-group-item">

          <div class="list-grid">

            <div class="imgblend left" [style.background-color]="n.itemColor"
             [style.background-image]="'url(../../assets/'+n.itemType+'.png'">
            </div>

            <div class="right">
              <p>Articolo: {{ n.itemType }}</p>
              <p>Colore: <span class="colors"  [style.background-color]="n.itemColor">{{ n.itemColor }}</span></p>
              <p>Testo personalizzato: {{ n.itemText }}</p>
              <p>Colore testo: <span class="colors" [style.background-color]="n.textColor">{{ n.textColor }}</span></p>
            </div>

          </div>
          <hr>
        </li>
      </ul>
  </div>
</div>
