<div class="wrapper">
      <div class="top1" *ngIf="pageNum==1">
        <ul class="list-group list-group-flush" *ngFor="let n of items | async">
          <li class="list-group-item">
            <div class="list-grid">
              <div class="imgblend left" [style.background-color]="n.itemColor"
               [style.background-image]="'url(../../assets/'+n.itemType+'.png'">
              </div>
              <div class="right">
                <p>Articolo: {{ n.itemType }}</p>
                <p>Colore: <span class="colors"  [style.background-color]="n.itemColor">{{ n.itemColor }}</span></p>
                <p>Testo personalizzato: {{ n.itemText }}</p>
                <p>Colore testo: <span class="colors" [style.background-color]="n.textColor">{{ n.textColor }}</span></p>
              </div>
            </div>
            <hr>
          </li>
        </ul>
      </div>
      <div class="top2" *ngIf="pageNum==2">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h1>PAGINA N 2</h1>
          </li>
        </ul>
      </div>
      <div class="top3" *ngIf="pageNum==3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h1>PAGINA N 3</h1>
          </li>
        </ul>
      </div>
      <div class="bottom">
        <div>
          <button class=" btn-step btn-back" [disabled]="pageNum==1" (click)="choosePage(pageNum-1)"><span class="arrow left"></span>INDIETRO</button>
        </div>
        <div class="page1" [class.active]="pageNum==1" (click)="choosePage(1)"></div>
        <div class="page2" [class.active]="pageNum==2" (click)="choosePage(2)"></div>
        <div class="page3" [class.active]="pageNum==3" (click)="choosePage(3)"></div>
        <div>
          <button class="btn-step btn-forward" *ngIf="pageNum!==3" (click)="choosePage(pageNum+1)">PROSEGUI<span class="arrow right"></span></button>
          <button class="btn-step btn-checkout" *ngIf="pageNum==3">CHECKOUT</button>
        </div>
      </div>
</div>

