.wrapper {
  margin: 3% 20%;
}
.display-4 {
  display: grid;
  place-items: center;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.imgblend {
  border-radius: 6px;
  background-blend-mode: exclusion;
  filter: invert(1);
  min-height: 20vh;
  max-height: 50vh;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, .3);
}
.list-grid {
  display: grid;
  grid-template-columns: 3fr 7fr;
  column-gap: 2em;
}
hr {
  margin-bottom: 4px;
}
.colors {
  color: transparent;
  box-shadow: inset 0 0 6px rgb(197, 197, 197);
  border-radius: 9999px;
}
