<div id="wrapper" class="container">
    <div class=" row justify-content-md-center">
    <!-- Form login -->

    <form class="text-center p-5 col-6 justify-content-center" #registrazioneForm="ngForm" (ngSubmit)="createUser(registrazioneForm.value.username, registrazioneForm.value.password, registrazioneForm.value.nome, registrazioneForm.value.cognome, registrazioneForm.value.telefono, registrazioneForm.value.citta, registrazioneForm.value.cap, registrazioneForm.value.indirizzo)">

      <p class="h4 mb-4">Registrati</p>

      <!-- Input -->
      <input type="text" name="username" class="form-control mb-4" placeholder="Username" ngModel>


      <input type="password" name="password" class="form-control mb-4" placeholder="Password" ngModel>

      <input type="text" name="nome" class="form-control mb-4" placeholder="Nome" ngModel>

      <input type="text" name="cognome" class="form-control mb-4" placeholder="Cognome" ngModel>

      <input type="text" name="telefono" class="form-control mb-4" placeholder="Telefono" ngModel>

      <input type="text" name="citta" class="form-control mb-4" placeholder="Cittá" ngModel>

      <input type="text" name="cap" class="form-control mb-4" placeholder="CAP" ngModel>

      <input type="text" name="indirizzo" class="form-control mb-4" placeholder="Indirizzo" ngModel>

      <div class="d-flex justify-content-around">

      </div>

      <!-- Bottone login -->
      <button mdbBtn color="info" block="true" class="my-4" type="submit">REGISTRATI</button>


      <p>Sei già registrato?
        <a routerLink="/login">ACCEDI</a>
      </p>

    </form>
    <!-- Form Login -->
    </div>
    </div>
