.nav-link{
  padding: 0.5rem 30px;
  color: transparent;
  display: flex;
  align-items: center;
  font-weight: 600;

}
.nav-link.active{
  background-color: transparent;
  color: blueviolet;
  border: none;
}
div.red{
  height: 40px;
  width: 40px;
  
}
div.orange{
  height: 40px;
  width: 40px;
  
}
div.yellow{
  height: 40px;
  width: 40px;

}
div.green{
  height: 40px;
  width: 40px;

}div.lightblue{
  height: 40px;
  width: 40px;

  background-color: lightblue;
}div.blue{
  height: 40px;
  width: 40px;

}

