<div id="wrapper">
  <div class="jumbotron text-center hoverable mx-auto col-6 p-4 mt-3">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-6 mx-3 my-3">

        <!-- Featured image -->
        <div class="view overlay waves-light" mdbWavesEffect>
          <div class="imgblend" [style.background-color]="itemForm.value.itemColor"
           [style.background-image]="'url(../../assets/'+itemForm.value.itemType+'.png'">
            <!-- <img src="../../../assets/hoodie.png" class="img-fluid" alt="Sample image for first version of blog listing"> -->
          </div>

          <a>
            <div class="itemtext" [style.color]="itemForm.value.textColor"> {{ itemForm.value.itemText }}</div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-5 textleft">

        <h4 class="h4 mb-4">Prodotto</h4>

        <form #itemForm="ngForm" (ngSubmit)="addToCart(itemForm.value.itemType, itemForm.value.itemColor, itemForm.value.itemText, itemForm.value.textColor)">
          <div class="form-group">

            <div>
              <select class="browser-default custom-select" name="itemType" ngModel>
                <option *ngFor="let item of list">{{item.name}}</option>
              </select>
                  </div>

                  <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                </div>
            </div>
                  </div>
            <p class="font-weight-normal d-flex">Colore prodotto</p>
            <div class="d-flex flex-row">
              <input type="color" class="form-control btn-bottom"  name="itemColor" ngModel>
            </div>
            <p class="font-weight-normal d-flex">Testo personalizzato</p>
            <div class="md-form">
              <input mdbInput type="text" id="form1" class="form-control" name="itemText" value="Il mio testo" ngModel>
              <label for="form1" class="">Inserisci testo..</label>
            </div>
            <p class="font-weight-normal d-flex margin0">Colore testo</p>
            <input type="color" id="form1" class="form-control btn-bottom"  name="textColor" ngModel>
            <input mdbBtn type="submit" value="Aggiungi al carrello" color="blue" mdbWavesEffect>
          </div>
        </form>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
</div>
