.jumbotron {
  margin-top: 20vh;
  max-height: 80%;
  margin-bottom: 10px;
}
.nav-link{
  margin: auto;
  padding: 0.5rem 1.2em;
  color: transparent;
  display: flex;
  align-items: center;
  font-weight: 600;
}

select,
.rounded-circle,
input[type=color] {
  cursor: pointer;
}
.btn-bottom {
  margin-bottom: 2vh;
}
 .imgblend {
   border-radius: 6px;
   background-blend-mode: exclusion;
   filter: invert(1);
   min-height: 50vh;
   max-height: 50vh;
   background-position: center center;
   background-size: contain;
   background-repeat: no-repeat;
   box-shadow: inset 0 0 10px rgba(255, 255, 255, .3);
   position: relative;
 }
.itemtext {
  padding: .2em;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, .3);
  color: black;
  margin-top: 2vh;
  font-size: 2em;
  word-wrap: break-word;
}
 .itemId {
   text-align: center;
   border: 0;
   border-radius: 4px;
   max-width: 100%;
   font-size: 1.4em;
   border: .1px solid rgb(218, 218, 218);
   &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(39, 153, 219, 0.3);
    border: .1px solid rgb(80, 135, 255);
  }
 }
