<div id="wrapper">
  <mdb-navbar SideClass="navbar navbar-expand-xl navbar-expand navbar-dark" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <input class="homebtn" type="submit" value="Homepage" routerLink="/home" routerLinkActive="active">
      <a *ngIf="checkRoute()=='/home'" class="navbar-brand centered" routerLink="/home" routerLinkActive="active" >Welcome to Lillo.it</a>
      <a *ngIf="checkRoute()!=='/home' && checkRoute()!=='/carrello'" class="navbar-brand centered" routerLink="/personalizza"><b>Personalizza</b></a>
      <a *ngIf="checkRoute()=='/carrello'" class="navbar-brand centered" routerLink="/carrello">Carrello <span class="counter" *ngIf="(cartItems | async) as items">({{ items.length }})</span></a>
    </mdb-navbar-brand>



    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <div class="cart-link" routerLink="/carrello" routerLinkActive="active">
            <mdb-icon fas icon="shopping-cart"></mdb-icon>Carrello <span class="counter-hover" *ngIf="(cartItems | async) as items"> {{ items.length }}</span>
            <div class="carrello-hover">
              <div *ngFor="let i of cartItems | async">
                <p>Articolo: {{ i.itemType }}</p>
                <p>Colore: <span class="colors"  [style.background-color]="i.itemColor">{{ i.itemColor }}</span></p>
                <p>Testo personalizzato: {{ i.itemText }}</p>
                <p>Colore testo: <span class="colors" [style.background-color]="i.textColor">{{ i.textColor }}</span></p>
                <p>Prezzo: {{ i.itemPrice }}</p>
                <hr>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>

</div>
<div class="background-div"></div>


