.background-div {
  background: rgb(131,217,255);
  background: linear-gradient(90deg, rgba(131,217,255,1) 0%, rgba(168,153,255,1) 51%, rgba(204,154,250,1) 100%);
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 0;
  z-index: -1;
}
.navbar .navbar-expand-xl{
  background: rgb(131,217,255);
  background: linear-gradient(90deg, rgba(131,217,255,1) 0%, rgba(168,153,255,1) 51%, rgba(204,154,250,1) 100%);
}
 .navbar-brand {
   position: relative;
   text-align: center;
 }
