.background-div {
  background: rgb(131,217,255);
  background: linear-gradient(90deg, rgba(131,217,255,1) 0%, rgba(168,153,255,1) 51%, rgba(204,154,250,1) 100%);
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 0;
  z-index: -1;
}
.navbar .navbar-expand-xl{
  background: initial;
  background: linear-gradient(90deg, rgba(131,217,255,.9) 0%, rgba(168,153,255,.9) 51%, rgba(204,154,250,.9) 100%);
}
 .navbar-brand {
   position: relative;
   text-align: center;
 }
.homebtn {
  position: relative;
  background-color: rgba(255, 255, 255, .2);
  backdrop-filter: blur(3px);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: .6em;
  transition: background-color 300ms ease-in-out,
              padding 300ms ease-in-out;
  &:hover  {
    background-color: rgba(255, 255, 255, 0.726);
    padding:  .6em 6.16vw .6em 6.16vw;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(39, 153, 219, 0.3);
    border: .1px solid rgb(80, 135, 255);
  }
}
 .carrello-hover {
   position: absolute;
   top: 2.9em;
   right: 0;
   background-color: rgba(255, 255, 255, 0.726);
   backdrop-filter: blur(3px);
   border-radius: 4px;
   min-width: 16vw;
   max-width: 22vw;
   word-wrap: break-word;
   transform: scaleY(0);
   transition: transform 250ms ease-in-out 300ms;
   transform-origin: top;
   max-height: 80vh;
   overflow: auto;
   p {
     margin-bottom: 0;
     padding-left: 1em;
     padding-right: 1em;
   }
 }
 .cart-link {
   display: flex;
   align-content: center;
   justify-content: center;
   max-width: 16vw;
   cursor: pointer;
  position: absolute;
  top: .5em;
  right: 1em;
  z-index: 200;
  background-color: rgba(255, 255, 255, .2);
  backdrop-filter: blur(3px);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: .6em;
  transition: background-color 300ms ease-in-out,
              padding 300ms ease-in-out;

   &:hover  {
    background-color: rgba(255, 255, 255, 0.726);
    padding:  .6em 6.16vw .6em 6.16vw;
    .carrello-hover {
      transform: scaleY(1);}
      transition-delay: transform 0ms;
      border: 1px solid whitesmoke;
   }

   &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(39, 153, 219, 0.3);
    border: .1px solid rgb(80, 135, 255);
  }
 }
 hr {
   margin: 4px;
   padding: 0;
 }

 ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
 }
 ::-webkit-scrollbar-thumb {
  background: rgb(201, 201, 201);
  border-radius: 8px;
 }
 ::-webkit-scrollbar-thumb:hover{
  background: rgb(204, 204, 204);
 }
 ::-webkit-scrollbar-track{
  background: transparent;
  border-radius: 8px;
 }
.centered {
  font-size: 1.8em;
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translate(-50%, 0);
  color: initial;
  color: whitesmoke;
  // transform: translateX(43vw);
}
